*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 193, 193);
}
.navbar a{
    color: rgb(255, 80, 138);
}
 .col-lg-4 .content-box {
    background-color: rgb(255, 127, 155);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.col-lg-4 .content-box{
    padding: 5px;
}
.middle{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 40px;
    text-decoration: underline;
    font-weight: bolder;
}
h3{
    color: brown;
}
.row a{
    color: yellow;
}